/* Style Sheet for page2*/
/* Descendant selector(https://www.w3school.com.cn/css/css_selector_descendant.asp) may be helpful to not pollute other pages' style*/
#page2 html {
    width: 100%;
    height: 100%;
    font-size: 12px;
    overflow: hidden;
}

#page2 body {
    width: 100%;
    height: 100%;
    font-size: 12px;
    overflow: hidden;
}

#page2 .container{
    background: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    overflow: hidden;
}

#page2 .title {
    font-size: 3rem;
    text-align: center;
    position: absolute;
    left:7%;
    right:7%;
    top:2%;
    height: 14%;
    width: 86%;
}

#page2 .axis_label {
    text-anchor: middle;
}

#page2 .domain {
    stroke: rgb(80,80,80);
    stroke-linecap: round;
}

#page2 .tick line {
    stroke: rgb(80,80,80);
    stroke-linecap: round;
}